<div class="registrationPage">
  <div class="header"></div>
  <div class="header2">
    <div class="heading">
      Register
    </div>
  </div>
  <div class="content">
    <form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="flex-box">
        <label class="flabel">User Name</label>
        <input class="ffield" type="text" name="userName" #userName="ngModel" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}" placeholder="User Name" required />
      </div>
      <div class="flex-box">
        <label class="flabel">Email</label>
        <input class="ffield" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="Email" required/>
      </div>
      <div class="flex-box">
        <label class="flabel">First Name</label>
        <input class="ffield" type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}" placeholder="First Name" required />
      </div>
      <div class="flex-box">
        <label class="flabel">Last Name</label>
        <input class="ffield" type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}" placeholder="Last Name" required />
      </div>
      <div class="flex-box">
        <label class="flabel">Date Of Birth</label>
        <input class="ffield" type="date" name="dateOfBirth" #dateOfBirth="ngModel" [(ngModel)]="user.dateOfBirth" [ngModelOptions]="{standalone: true}" placeholder="Date Of Birth" required />
      </div>
      <div class="flex-box">
        <label class="flabel">Password</label>
        <input class="ffield" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Password" required />
      </div>
      <div class="flex-box">
        <label class="flabel">Skills</label>
        <select class="ffield" name="skills" [(ngModel)]="user.skills" #skills="ngModel" [ngModelOptions]="{standalone: true}" required>
          <option value="" disabled>Select</option>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div class="flex-box">
        <label class="flabel">Country</label>
        <select class="ffield" name="country" [(ngModel)]="user.country" [ngModelOptions]="{standalone: true}" required>
          <option value="" disabled>Select</option>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div class="flex-box">
        <button color="primary">Next</button>
      </div>
    </form>
  </div>
  <!-- <div class="footer">
    <p>This is just test tab</p>
  </div> -->
</div>